.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'PromimaNova', sans-serif;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    // Không cho bôi đen
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        // bỏ hiệu ứng chuột
        pointer-events: none;
        opacity: 0.6;
    }
}

// Button types
.primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.rounded {
    // để to hơn hẳn thì nó sẽ tự bo góc
    border-radius: 999px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

// text upload
.text {
    min-width: 110px;
    padding: 8px 11px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    text-align: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// button size
.small {
    min-width: 88px;
    height: 28px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    flex: 0 0 20px;
}
